<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>        <title>My todo list</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row todoContainer">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <table class="todoTable ">
                        <thead class="todoTableHead">
                            <td>A faire</td>
                        </thead>
                        <tbody>
                            <tr>        
                                <% for (var key in dataBacklog) { %>
                                    <tr>
                                      <td class="flexTd"> 
                                        <button class="btn btnAdd updateBtn" type="button" data-toggle="modal" data-target="#updateBacklogModal" data-whatever="@mdo"  id="upbacklog-<%= dataBacklog[key].title  %>-<%= dataBacklog[key].description  %>-<%= dataBacklog[key]._id  %>">
                                          <%= dataBacklog[key].title %>                                         
                                        </button>
                                        <form method="post" action="moveToDoing"> 
                                          <button type="submit" class="btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg> 
                                            <input type="hidden" name="id" value="<%= dataBacklog[key]._id  %>">
                                          </button>
                                        </form>

                                      </td>                                         
                                  </tr>
                                <% } %>
                            </td>
                            <tr>
                                <td class="tdAdd">
                                    <button class="btn btnAdd" type="button" data-toggle="modal" data-target="#backlogModal" data-whatever="@mdo">
                                        Add         
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>                            
                                </td>
                            </tr>    
                        </tbody>
                    </table>                
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <table class="todoTable ">
                        <thead class="todoTableHead">
                            <td>En cours</td>
                        </thead>
                        <tbody>
                            <% for (var key in dataDoing) { %>
                                <tr>
                                  <td class="flexTd">
                                    <form method="post" action="moveToBacklog"> 
                                      <button type="submit" class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                        <input type="hidden" name="id" value="<%= dataDoing[key]._id  %>">
                                      </button>
                                    </form>
                                    <button class="btn btnAdd updateBtn" type="button" data-toggle="modal" data-target="#updateDoingModal" data-whatever="@mdo"  id="updoing-<%= dataDoing[key].title  %>-<%= dataDoing[key].description  %>-<%= dataDoing[key]._id  %>">
                                      <%= dataDoing[key].title %>                                         
                                    </button>
                                    <form method="post" action="moveToDone"> 
                                      <button type="submit" class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg> 
                                        <input type="hidden" name="id" value="<%= dataDoing[key]._id  %>">
                                      </button>
                                    </form>
                                  </td>
                                </tr>
                            <% } %>
                            <tr>
                                <td class="tdAdd">
                                    <button class="btn btnAdd" type="button"  data-toggle="modal" data-target="#doingModal" data-whatever="@mdo">
                                        Add         
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>                                
                                </td>
                            </tr>    
                        </tbody>
                    </table>                
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <table class="todoTable">
                        <thead class="todoTableHead">
                            <td>Terminée</td>
                        </thead>
                        <tbody>
                            <% for (var key in dataDone) { %>
                                <tr>
                                  <td class="flexTd">
                                    <form method="post" action="moveToDoing"> 
                                      <button class="btn" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                        <input type="hidden" name="id" value="<%= dataDone[key]._id  %>">
                                      </button>
                                    </form>
                                    <button class="btn btnAdd updateBtn" type="button" data-toggle="modal" data-target="#updateDoneModal" data-whatever="@mdo" id="updone-<%= dataDone[key].title  %>-<%= dataDone[key].description  %>-<%= dataDone[key]._id  %>">
                                      <%= dataDone[key].title %>                                         
                                    </button>
                                  </td>
                                </tr>
                            <% } %>
                            <tr>
                                <td class="tdAdd">
                                    <button class="btn btnAdd" type="button" data-toggle="modal" data-target="#doneModal" data-whatever="@mdo">
                                        Add       
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>  
                                    </button>                                
                                </td>
                            </tr>                           
                        </tbody>
                    </table>                
                </div>                     
            </div>                       
        </div>
        <!-- MODAL INSERT -->

        <div class="modal fade" id="backlogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Add a task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/addBacklogTask">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="message-text" name="description" placeholder="Enter your description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Add" />
                    </div>
                  </form>
                  <div class="modal-footer">
                    <form method="POST" action="/deleteTask">
                      <input type="hidden" class="IdSupressedTask" name="id" value=""/>
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="modal fade" id="doingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Add a task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/addDoingTask">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="message-text" name="description" placeholder="Enter your description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Add" />
                    </div>
                  </form>
                  <div class="modal-footer">
                    <form method="POST" action="/deleteTask">
                      <input type="hidden" class="IdSupressedTask" name="id" value=""/>
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="doneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Add a task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/addDoneTask">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="message-text" name="description" placeholder="Enter your description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Add" />
                    </div>
                  </form>
                  <div class="modal-footer">
                    <form method="POST" action="/deleteTask">
                      <input type="hidden" class="IdSupressedTask" name="id"  value=""/>
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- MODAL UPDATE-->
          <div class="modal fade" id="updateBacklogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Add a task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="/updateBacklogTask" id="formBacklogUpdate">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" name="title" id="backlogTitle">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Description:</label>
                      <textarea class="form-control" name="description" id="backlogDescription"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="id" id="backlogIdTask"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" id="submitBacklogUpdate" class="btn btn-primary" value="Update" />
                    </div>
                  </div>
                  </form>
                  <div class="modal-footer">
                    <form method="post" action="/deleteTask">
                      <input type="hidden" class="IdSupressedTask" name="id"  value=""/>
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>

          <div class="modal fade" id="updateDoingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Add a task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/updateDoingTask" id="formDoingUpdate">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" name="title" id="doingTitle">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Description:</label>
                      <textarea class="form-control" name="description" id="doingDescription"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="id" id="doingIdTask"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" id="submitDoingUpdate" class="btn btn-primary" value="Update" />
                    </div>
                  </div>
                  </form>
                  <div class="modal-footer">
                    <form method="POST" action="/deleteTask">
                      <input type="hidden" class="IdSupressedTask" name="id"  value=""/>
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>

          <div class="modal fade" id="updateDoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Add a task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/updateDoneTask" id="formDoneUpdate">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" name="title" id="doneTitle">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Description:</label>
                      <textarea class="form-control" name="description" id="doneDescription"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="id" id="doneIdTask"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" id="submitDoneUpdate" class="btn btn-primary" value="Update" />
                    </div>
                  </div>
                  </form>
                  <div class="modal-footer">
                    <form method="POST" action="/deleteTask">
                      <input type="hidden" class="IdSupressedTask" name="id"  value=""/>
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>

          <script>
            var updateBtn = document.getElementsByClassName("updateBtn");
            for (var i = 0; i < updateBtn.length; i++) {
              updateBtn[i].addEventListener('click',setDataModalUpdate,false);
            }
            function setDataModalUpdate(event){
              let splittedId = event.target.id.split("-")
              let deleteBtn = document.getElementsByClassName("IdSupressedTask")
              for (var i = 0; i < deleteBtn.length; i++) {
                deleteBtn[i].innerHTML = splittedId[3];
                deleteBtn[i].value = splittedId[3];
              }
              console.log(splittedId)
              if(event.target.id.includes("backlog")){
                document.getElementById("backlogTitle").innerHTML = splittedId[1];
                document.getElementById("backlogTitle").value = splittedId[1];
                document.getElementById("backlogDescription").value = splittedId[2];
                document.getElementById("backlogDescription").innerHTML = splittedId[2];
                document.getElementById("backlogIdTask").value = splittedId[3];
              }
              else if(event.target.id.includes("doing")){
                document.getElementById("doingTitle").innerHTML = splittedId[1];
                document.getElementById("doingTitle").value = splittedId[1];
                document.getElementById("doingDescription").value = splittedId[2];
                document.getElementById("doingDescription").innerHTML = splittedId[2];
                document.getElementById("doingIdTask").value = splittedId[3];
              }
              else{
                document.getElementById("doneTitle").innerHTML = splittedId[1];
                document.getElementById("doneTitle").value = splittedId[1];
                document.getElementById("doneDescription").value = splittedId[2];
                document.getElementById("doneDescription").innerHTML = splittedId[2];
                document.getElementById("doneIdTask").value = splittedId[3];
              }
            }
            document.getElementById("submitBacklogUpdate").addEventListener("click", function(){
              document.getElementById("formBacklogUpdate").submit()
            })
            document.getElementById("submitDoingUpdate").addEventListener("click", function(){
              document.getElementById("formDoingUpdate").submit()
            })
            document.getElementById("submitDoneUpdate").addEventListener("click", function(){
              document.getElementById("formDoneUpdate").submit()
            })
            
          </script>

    </body> 
</html>
